trunk/BIOSIM/resources/com/traclabs/biosim/server/framework/BiosimInitSchema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">BioSim Initialization Schema</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="biosim">
		<xsd:complexType>     
			<xsd:sequence>
				<xsd:element name="firstname" type="xsd:string" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="BioModuleType" abstract="true">
		<xsd:sequence>
			<xsd:element name="isLoggingEnabled" type="xsd:boolean" fixed="false"/>
			<xsd:element name="isBreakdownEnabled" type="xsd:boolean" fixed="false"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Store">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="capacity" type="xsd:integer" fixed="20"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
