trunk/BIOSIM/resources/com/traclabs/biosim/server/framework/BiosimInitSchema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">BioSim Initialization Schema</xsd:documentation>
	</xsd:annotation>
	
	<!-- Simple types -->
	<xsd:simpleType name="floatList">
		<xsd:list itemType="nonNegativeFloat"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="nonNegativeFloat">
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Top level element declaration -->
	<xsd:element name="biosim" type="BioSimType"/>
	
	
	<xsd:complexType name="BioSimType">
		<xsd:sequence>
			<xsd:element name="Globals" type="GlobalsType"/>
			<xsd:element name="SimModules" type="SimModulesType"/>
			<xsd:element name="Sensors" type="SensorsType"/>
			<xsd:element name="Actuators" type="ActuatorsType"/>
		</xsd:sequence>     
	</xsd:complexType>
	
	<xsd:complexType name="GlobalsType">
		<xsd:all>
			<xsd:element name="runTillDead" type="xsd:boolean"/>
			<xsd:element name="runTillN">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ticks" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
					</xsd:sequence>
					<xsd:attribute name="isEnabled" type="xsd:boolean" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="isFullLoggingEnabled" type="xsd:boolean"/>
			<xsd:element name="isSensorLoggingEnabled" type="xsd:boolean"/>
			<xsd:element name="isActuatorLoggingEnabled" type="xsd:boolean"/>
			<xsd:element name="driverPauseLength" type="xsd:nonNegativeInteger"/>
			<xsd:element name="isLooping" type="xsd:boolean"/>
			<xsd:element name="initialTicks" type="xsd:nonNegativeInteger"/>
			<xsd:element name="setStochasticIntensity" type="StochasticIntensityType"/>
		</xsd:all>
	</xsd:complexType>
	
	<xsd:simpleType name="StochasticIntensityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HIGH_STOCH"/>
			<xsd:enumeration value="MEDIUM_STOCH"/>
			<xsd:enumeration value="LOW_STOCH"/>
			<xsd:enumeration value="NONE_STOCH"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="SimModulesType">
		<xsd:all>
			<xsd:element name="air" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="AirRS" type="AirRSType" minOccurs="0"/>
						<xsd:element name="O2Store" type="Store" minOccurs="0"/>
						<xsd:element name="CO2Store" type="Store" minOccurs="0"/>
						<xsd:element name="H2Store" type="Store" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="crew" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="CrewGroup" type="CrewGroupType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="SimEnvironment" type="SimEnvironmentType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="FoodProcessor" type="FoodProcessorType" minOccurs="0"/>
						<xsd:element name="BiomassRS" type="BiomassRSType" minOccurs="0"/>
						<xsd:element name="BiomassStore" type="Store" minOccurs="0"/>
						<xsd:element name="FoodStore" type="Store" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="PowerStore" type="Store" minOccurs="0"/>
						<xsd:element name="PowerPS" type="PowerPSType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="WaterRS" type="WaterRSType" minOccurs="0"/>
						<xsd:element name="PotableWaterStore" type="PotableWaterStoreType" minOccurs="0"/>
						<xsd:element name="DirtyWaterStore" type="Store" minOccurs="0"/>
						<xsd:element name="GreyWaterStore" type="Store" minOccurs="0"/>
						<xsd:element name="H2Store" type="Store" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
	
	
	<xsd:complexType name="SensorsType">
		<xsd:all>
			<xsd:element name="air" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="CO2InFlowRateSensor" type="CO2InFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="CO2OutFlowRateSensor" type="CO2OutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="CO2StoreLevelSensor" type="CO2StoreLevelSensorType" minOccurs="0"/>
						<xsd:element name="O2InFlowRateSensor" type="O2InFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="O2OutFlowRateSensor" type="O2OutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="O2StoreLevelSensor" type="O2StoreLevelSensorType" minOccurs="0"/>
						<xsd:element name="H2InFlowRateSensor" type="H2InFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="H2OutFlowRateSensor" type="H2OutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="H2StoreLevelSensor" type="H2StoreLevelSensorType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="crew" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="CrewGroupDeathSensor" type="CrewGroupDeathSensorType" minOccurs="0"/>			
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="AirInFlowRateSensor" type="AirInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="AirOutFlowRateSensor" type="AirOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="CO2AirConcentrationSensor" type="CO2AirConcentrationSensorType" minOccurs="0"/>
						<xsd:element name="CO2AirEnvironmentInFlowRateSensor" type="CO2AirEnvironmentInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="CO2AirEnvironmentOutFlowRateSensor" type="CO2AirEnvironmentOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="CO2AirPressureSensor" type="CO2AirPressureSensorType" minOccurs="0"/>
						<xsd:element name="CO2AirStoreInFlowRateSensor" type="CO2AirStoreInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="CO2AirStoreOutFlowRateSensor" type="CO2AirStoreOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="O2AirConcentrationSensor" type="O2AirConcentrationSensorType" minOccurs="0"/>
						<xsd:element name="O2AirEnvironmentInFlowRateSensor" type="O2AirEnvironmentInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="O2AirEnvironmentOutFlowRateSensor" type="O2AirEnvironmentOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="O2AirPressureSensor" type="O2AirPressureSensorType" minOccurs="0"/>
						<xsd:element name="O2AirStoreInFlowRateSensor" type="O2AirStoreInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="O2AirStoreOutFlowRateSensor" type="O2AirStoreOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="OtherAirConcentrationSensor" type="OtherAirConcentrationSensorType" minOccurs="0"/>
						<xsd:element name="OtherAirPressureSensor" type="OtherAirPressureSensorType" minOccurs="0"/>
						<xsd:element name="WaterAirConcentrationSensor" type="WaterAirConcentrationSensorType" minOccurs="0"/>
						<xsd:element name="WaterAirPressureSensor" type="WaterAirPressureSensorType" minOccurs="0"/>		
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="BiomassInFlowRateSensor" type="BiomassInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="BiomassOutFlowRateSensor" type="BiomassOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="BiomassStoreLevelSensor" type="BiomassStoreLevelSensorType" minOccurs="0"/>
						<xsd:element name="FoodInFlowRateSensor" type="FoodInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="FoodOutFlowRateSensor" type="FoodOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="FoodStoreLevelSensor" type="FoodStoreLevelSensorType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="PowerInFlowRateSensor" type="PowerInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="PowerOutFlowRateSensor" type="PowerOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="PowerStoreLevelSensor" type="PowerStoreLevelSensorType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="DirtyWaterInFlowRateSensor" type="DirtyWaterInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="DirtyWaterOutFlowRateSensor" type="DirtyWaterOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="DirtyWaterStoreLevelSensor" type="DirtyWaterStoreLevelSensorType" minOccurs="0"/>
						<xsd:element name="GreyWaterInFlowRateSensor" type="GreyWaterInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="GreyWaterOutFlowRateSensor" type="GreyWaterOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="GreyWaterStoreLevelSensor" type="GreyWaterStoreLevelSensorType" minOccurs="0"/>
						<xsd:element name="PotableWaterInFlowRateSensor" type="PotableWaterInFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="PotableWaterOutFlowRateSensor" type="PotableWaterOutFlowRateSensorType" minOccurs="0"/>
						<xsd:element name="PotableWaterStoreLevelSensor" type="PotableWaterStoreLevelSensorType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
	<xsd:complexType name="ActuatorsType">
		<xsd:all>
			<xsd:element name="air" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="CO2InFlowRateActuator" type="CO2InFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="CO2OutFlowRateActuator" type="CO2OutFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="H2InFlowRateActuator" type="H2InFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="H2OutFlowRateActuator" type="H2OutFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="O2InFlowRateActuator" type="O2InFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="O2OutFlowRateActuator" type="O2OutFlowRateActuatorType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="crew" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="AirInFlowRateActuator" type="AirInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="AirOutFlowRateActuator" type="AirOutFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="CO2AirEnvironmentInFlowRateActuator" type="CO2AirEnvironmentInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="CO2AirEnvironmentOutFlowRateActuator" type="CO2AirEnvironmentOutFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="CO2AirStoreInFlowRateActuator" type="CO2AirStoreInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="CO2AirStoreOutFlowRateActuator" type="CO2AirStoreOutFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="O2AirEnvironmentInFlowRateActuator" type="O2AirEnvironmentInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="O2AirEnvironmentOutFlowRateActuator" type="O2AirEnvironmentOutFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="O2AirStoreInFlowRateActuator" type="O2AirStoreInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="O2AirStoreOutFlowRateActuator" type="O2AirStoreOutFlowRateActuatorType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="BiomassInFlowRateActuator" type="BiomassInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="BiomassOutFlowRateActuator" type="BiomassOutFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="FoodInFlowRateActuator" type="FoodInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="FoodOutFlowRateActuator" type="FoodOutFlowRateActuatorType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="PowerInFlowRateActuator" type="PowerInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="PowerOutFlowRateActuator" type="PowerOutFlowRateActuatorType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="DirtyWaterInFlowRateActuator" type="DirtyWaterInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="DirtyWaterOutFlowRateActuator" type="DirtyWaterOutFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="GreyWaterInFlowRateActuator" type="GreyWaterInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="GreyWaterOutFlowRateActuator" type="GreyWaterOutFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="PotableWaterInFlowRateActuator" type="PotableWaterInFlowRateActuatorType" minOccurs="0"/>
						<xsd:element name="PotableWaterOutFlowRateActuator" type="PotableWaterOutFlowRateActuatorType" minOccurs="0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
	<!-- Producer/Consumer types -->
	<xsd:complexType name="FlowRateTypes">  
		<xsd:sequence>
			<xsd:element name="maxFlowRates" type="floatList"/>
			<xsd:element name="desiredFlowRates" type="floatList"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PowerConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="PowerStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="PotableWaterStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="GreyWaterStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="DirtyWaterStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="SimEnvironmentNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="H2StoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="O2StoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="CO2StoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="LightConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="SimEnvironmentNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="BiomassStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="input" type="FoodStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="output" type="PowerStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="output" type="PotableWaterStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="output" type="GreyWaterStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="output" type="DirtyWaterStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="output" type="SimEnvironmentNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="output" type="H2StoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="output" type="O2StoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="output" type="CO2StoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="output" type="BiomassStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateTypes">
				<xsd:sequence>
					<xsd:element name="output" type="FoodStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Module declarations -->
	<xsd:complexType name="BioModuleType">
		<xsd:sequence>
			<xsd:element name="isLoggingEnabled" type="xsd:boolean"/>
			<xsd:element name="isBreakdownEnabled" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Store">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="capacity" type="xsd:nonNegativeInteger"/>
					<xsd:element name="level" type="xsd:nonNegativeInteger"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Store declarations -->
	<xsd:complexType name="PotableWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="name" type="PotableWaterStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="name" type="DirtyWaterStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="name" type="GreyWaterStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="name" type="O2StoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="name" type="CO2StoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="name" type="H2StoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="name" type="FoodStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="name" type="BiomassStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="name" type="PowerStoreNameType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	<!-- Store name declarations -->
	<xsd:simpleType name="PotableWaterStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="PotableWaterStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="DirtyWaterStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="DirtyWaterStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="GreyWaterStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="GreyWaterStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="O2StoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="O2Store+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="CO2StoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="CO2Store+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="H2StoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="H2Store+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="FoodStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="FoodStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="BiomassStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="BiomassStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="PowerStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="PowerStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="SimEnvironmentNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="SimEnvironment+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special CrewGroup specific declarations -->
	<xsd:complexType name="ScheduleType">
		<xsd:sequence>
			<xsd:element name="activity" type="ActivityType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ActivityType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="length" type="xsd:nonNegativeInteger"/>
			<xsd:element name="intensity" type="xsd:nonNegativeInteger"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="CrewPersonType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="age" type="nonNegativeFloat"/>
			<xsd:element name="weight" type="nonNegativeFloat"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Special BiomassRS specific declarations -->
	<xsd:simpleType name="CropType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DRY_BEAN"/>
			<xsd:enumeration value="LETTUCE"/>
			<xsd:enumeration value="PEANUT"/>
			<xsd:enumeration value="RICE"/>
			<xsd:enumeration value="SOYBEAN"/>
			<xsd:enumeration value="SWEET_POTATO"/>
			<xsd:enumeration value="TOMATO"/>
			<xsd:enumeration value="WHEAT"/>
			<xsd:enumeration value="WHITE_POTATO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special PowerPS specific declarations -->
	<xsd:simpleType name="GenerationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SOLAR"/>
			<xsd:enumeration value="NUCLEAR"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- SimModule declarations -->
	<xsd:complexType name="AirRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="powerConsumer" type="PowerConsumerType"/>
					<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
					<xsd:element name="airConsumer" type="AirConsumerType"/>
					<xsd:element name="CO2Consumer" type="CO2ConsumerType"/>
					<xsd:element name="H2Consumer" type="H2ConsumerType"/>
					<xsd:element name="potableWaterProducer" type="PotableWaterProducerType"/>
					<xsd:element name="O2Producer" type="O2ProducerType"/>
					<xsd:element name="airProducer" type="AirProducerType"/>
					<xsd:element name="CO2Producer" type="CO2ProducerType"/>
					<xsd:element name="H2Producer" type="H2ProducerType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CrewGroupType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
					<xsd:element name="airConsumer" type="AirConsumerType"/>
					<xsd:element name="foodConsumer" type="FoodConsumerType"/>
					<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType"/>
					<xsd:element name="greyWaterProducer" type="GreyWaterProducerType"/>
					<xsd:element name="airProducer" type="AirProducerType"/>
					<xsd:element name="schedule" type="ScheduleType"/>
					<xsd:element name="crewPerson" type="CrewPersonType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="SimEnvironmentType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="name" type="SimEnvironmentNameType"/>
					<xsd:element name="initialCO2Moles" type="nonNegativeFloat"/>
					<xsd:element name="initialO2Moles" type="nonNegativeFloat"/>
					<xsd:element name="initialOtherMoles" type="nonNegativeFloat"/>
					<xsd:element name="initialWaterMoles" type="nonNegativeFloat"/>
					<xsd:element name="initialVolume" type="nonNegativeFloat"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="powerConsumer" type="PowerConsumerType"/>
					<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
					<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType"/>
					<xsd:element name="airConsumer" type="AirConsumerType"/>
					<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType"/>
					<xsd:element name="biomassProducer" type="BiomassProducerType"/>
					<xsd:element name="airProducer" type="AirProducerType"/>
					<xsd:element name="cropArea" type="nonNegativeFloat"/>
					<xsd:element name="cropType" type="CropType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodProcessorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="powerConsumer" type="PowerConsumerType"/>
					<xsd:element name="biomassConsumer" type="BiomassConsumerType"/>
					<xsd:element name="foodProducer" type="FoodProducerType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerPSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="powerProducer" type="PowerProducerType"/>
					<xsd:element name="generation" type="GenerationType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="powerConsumer" type="PowerConsumerType"/>
					<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType"/>
					<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType"/>
					<xsd:element name="potableWaterProducer" type="PotableWaterProducerType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	<!-- Sensor declarations -->
	
	<xsd:complexType name="SensorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="input" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Air sensor declarations -->
	<xsd:complexType name="CO2InFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2OutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2InFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2OutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2InFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2OutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Crew sensor declarations -->
	<xsd:complexType name="CrewGroupDeathSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Environment sensor declarations -->
	<xsd:complexType name="AirInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OtherAirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OtherAirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food sensor declarations -->
	<xsd:complexType name="BiomassInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food sensor declarations -->
	<xsd:complexType name="PowerInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Water sensor declarations -->
	<xsd:complexType name="DirtyWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Actuator declarations -->
	<xsd:complexType name="ActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="output" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Air actuator declarations -->
	<xsd:complexType name="CO2InFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2OutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2InFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2OutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2InFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2OutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Environment actuator declarations -->
	<xsd:complexType name="AirInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food actuator declarations -->
	<xsd:complexType name="BiomassInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Power actuator declarations -->
	<xsd:complexType name="PowerInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Water actuator declarations -->
	<xsd:complexType name="DirtyWaterInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
</xsd:schema>

