trunk/BIOSIM/resources/com/traclabs/biosim/server/framework/BiosimInitSchema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">BioSim Initialization Schema</xsd:documentation>
	</xsd:annotation>
	
	<!-- Top level element declaration -->
	<xsd:element name="biosim" type="BioSimType"/>
	
	<!-- Simple types -->
	<xsd:simpleType name="floatList">
		<xsd:list itemType="xsd:float"/>
	</xsd:simpleType>
	
	<xsd:complexType name="BioSimType">
		<xsd:all>
			<xsd:element name="Globals" type="GlobalsType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="PotableWaterStore" type="PotableWaterStoreType" minOccurs="0"/>
			<xsd:element name="DirtyWaterStore" type="Store" minOccurs="0"/>
			<xsd:element name="GreyWaterStore" type="Store" minOccurs="0"/>
			<xsd:element name="O2Store" type="Store" minOccurs="0"/>
			<xsd:element name="CO2Store" type="Store" minOccurs="0"/>
			<xsd:element name="H2Store" type="Store" minOccurs="0"/>
			<xsd:element name="FoodStore" type="Store" minOccurs="0"/>
			<xsd:element name="BiomassStore" type="Store" minOccurs="0"/>
			<xsd:element name="PowerStore" type="Store" minOccurs="0"/>
			<xsd:element name="AirRS" type="AirRSType" minOccurs="0"/>
		</xsd:all>     
	</xsd:complexType>
	
	<!-- Global types -->
	<xsd:complexType name="GlobalsType">
		<xsd:all>
			<xsd:element name="runTillDead" type="xsd:boolean"/>
			<xsd:element name="runTillN">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ticks" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
					</xsd:sequence>
					<xsd:attribute name="isEnabled" type="xsd:boolean" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="isFullLoggingEnabled" type="xsd:boolean"/>
			<xsd:element name="isSensorLoggingEnabled" type="xsd:boolean"/>
			<xsd:element name="isActuatorLoggingEnabled" type="xsd:boolean"/>
			<xsd:element name="driverPauseLength" type="xsd:integer"/>
			<xsd:element name="isLooping" type="xsd:boolean"/>
			<xsd:element name="initialTicks" type="xsd:integer"/>
			<xsd:element name="setStochasticIntensity" type="StochasticIntensityType"/>
		</xsd:all>
	</xsd:complexType>
	
	<xsd:simpleType name="StochasticIntensityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HIGH_STOCH"/>
			<xsd:enumeration value="MEDIUM_STOCH"/>
			<xsd:enumeration value="LOW_STOCH"/>
			<xsd:enumeration value="NONE_STOCH"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	
	<!-- Producer/Consumer types -->
	<xsd:complexType name="FlowrateTypes">  
		<xsd:sequence>
			<xsd:element name="maxFlowrates" type="floatList" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="desiredFlowrates" type="floatList" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PowerConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="powerStoreInput" type="PowerStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="potableWaterStoreInput" type="PotableWaterStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="greyWaterStoreInput" type="GreyWaterStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="dirtyWaterStoreInput" type="DirtyWaterStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="airStoreInput" type="SimEnvironmentNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="H2StoreInput" type="H2StoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="O2StoreInput" type="O2StoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="CO2StoreInput" type="CO2StoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="LightConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="lightStoreInput" type="SimEnvironmentNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="biomassStoreInput" type="BiomassStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="foodStoreInput" type="FoodStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="powerStoreOutput" type="PowerStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="potableWaterStoreOutput" type="PotableWaterStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="greyWaterStoreOutput" type="GreyWaterStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="dirtyWaterStoreOutput" type="DirtyWaterStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="airStoreOutput" type="SimEnvironmentNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="H2StoreOutput" type="H2StoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="O2StoreOutput" type="O2StoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="CO2StoreOutput" type="CO2StoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="biomassStoreOutput" type="BiomassStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowrateTypes">
				<xsd:sequence>
					<xsd:element name="foodStoreOutput" type="FoodStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Module declarations -->
	<xsd:complexType name="BioModuleType">
		<xsd:sequence>
			<xsd:element name="isLoggingEnabled" type="xsd:boolean"/>
			<xsd:element name="isBreakdownEnabled" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Store">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="capacity" type="xsd:integer"/>
					<xsd:element name="level" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Store declarations -->
	<xsd:complexType name="PotableWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="PotableWaterStoreName" type="PotableWaterStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="DirtyWaterStoreName" type="DirtyWaterStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="GreyWaterStoreName" type="GreyWaterStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="O2StoreName" type="O2StoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="CO2StoreName" type="CO2StoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="H2StoreName" type="H2StoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="FoodStoreName" type="FoodStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="BiomassStoreName" type="BiomassStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:sequence>
					<xsd:element name="PowerStoreName" type="PowerStoreNameType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	<!-- Store name declarations -->
	<xsd:simpleType name="PotableWaterStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="PotableWaterStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="DirtyWaterStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="DirtyWaterStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="GreyWaterStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="GreyWaterStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="O2StoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="O2Store+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="CO2StoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="CO2Store+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="H2StoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="H2Store+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="FoodStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="FoodStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="BiomassStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="BiomassStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="PowerStoreNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="PowerStore+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="SimEnvironmentNameType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="SimEnvironment+.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- SimModule declarations -->
	<xsd:complexType name="AirRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="AirRSName" type="xsd:string"/>
					<xsd:element name="powerConsumer" type="PowerConsumerType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
</xsd:schema>

