trunk/BIOSIM/resources/com/traclabs/biosim/server/framework/BiosimInitSchema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">BioSim Initialization Schema</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="biosim">
		<xsd:complexType>
				<xsd:element name="firstname" type="xsd:string"/>
				<xsd:element name="lastname" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
