trunk/BIOSIM/resources/com/traclabs/biosim/server/framework/BiosimInitSchema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">BioSim Initialization Schema</xsd:documentation>
	</xsd:annotation>
	
	<!-- Simple types -->
	<xsd:simpleType name="floatList">
		<xsd:list itemType="nonNegativeFloat"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringList">
		<xsd:list itemType="xsd:string"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="nonNegativeFloat">
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Top level element declaration -->	
	<xsd:element name="biosim" type="BioSimType"/>
	
	<xsd:complexType name="BioSimType">
		<xsd:sequence>
			<xsd:element name="Globals" type="GlobalsType"/>
			<xsd:element name="SimBioModules" type="SimBioModulesType"/>
			<xsd:element name="Sensors" type="SensorsType"/>
			<xsd:element name="Actuators" type="ActuatorsType"/>
		</xsd:sequence>     
	</xsd:complexType>
	
	<xsd:complexType name="GlobalsType">
		<xsd:sequence>
			<xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1"/>	
			<xsd:element name="author" type="xsd:string" minOccurs="0" maxOccurs="1"/>	
		</xsd:sequence>
		<xsd:attribute name="startPaused" type="xsd:boolean" default="true"/>
		<xsd:attribute name="runTillN" type="xsd:nonNegativeInteger" default="0"/>
		<xsd:attribute name="runTillDead" type="xsd:boolean" default="true"/>
		<xsd:attribute name="crewsToWatch" type="stringList" use="optional"/>
		<xsd:attribute name="isFullLoggingEnabled" type="xsd:boolean" default="false"/>
		<xsd:attribute name="isSensorLoggingEnabled" type="xsd:boolean" default="false"/>    
		<xsd:attribute name="isActuatorLoggingEnabled" type="xsd:boolean" default="false"/>
		<xsd:attribute name="driverStutterLength" type="xsd:nonNegativeInteger" default="0"/>     
		<xsd:attribute name="isLooping" type="xsd:boolean" default="false"/>
		<xsd:attribute name="stochasticIntensity" type="StochasticIntensityType" default="NONE_STOCH"/>
	</xsd:complexType>
	
	<xsd:simpleType name="StochasticIntensityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HIGH_STOCH"/>
			<xsd:enumeration value="MEDIUM_STOCH"/>
			<xsd:enumeration value="LOW_STOCH"/>
			<xsd:enumeration value="NONE_STOCH"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="SimBioModulesType">
		<xsd:all>
			<xsd:element name="air" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AirRS" type="AirRSType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2Store" type="O2StoreType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2Store" type="CO2StoreType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="H2Store" type="H2StoreType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenStore" type="NitrogenStoreType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="crew" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CrewGroup" type="CrewGroupType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SimEnvironment" type="SimEnvironmentType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FoodProcessor" type="FoodProcessorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="BiomassRS" type="BiomassRSType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="BiomassStore" type="BiomassStoreType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="FoodStore" type="FoodStoreType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>	
						<xsd:element name="PowerPS" type="PowerPSType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PowerStore" type="PowerStoreType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="WaterRS" type="WaterRSType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PotableWaterStore" type="PotableWaterStoreType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="GreyWaterStore" type="GreyWaterStoreType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="DirtyWaterStore" type="DirtyWaterStoreType" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="framework" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Accumulator" type="AccumulatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="Injector" type="InjectorType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
	<xsd:complexType name="SensorsType">
		<xsd:all>
			<xsd:element name="air" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CO2InFlowRateSensor" type="CO2InFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2OutFlowRateSensor" type="CO2OutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2StoreLevelSensor" type="CO2StoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2InFlowRateSensor" type="O2InFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2OutFlowRateSensor" type="O2OutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2StoreLevelSensor" type="O2StoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="H2InFlowRateSensor" type="H2InFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="H2OutFlowRateSensor" type="H2OutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="H2StoreLevelSensor" type="H2StoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenInFlowRateSensor" type="NitrogenInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenOutFlowRateSensor" type="NitrogenOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenStoreLevelSensor" type="NitrogenStoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="crew" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CrewGroupDeathSensor" type="CrewGroupDeathSensorType" minOccurs="0" maxOccurs="unbounded"/>			
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AirInFlowRateSensor" type="AirInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="AirOutFlowRateSensor" type="AirOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2AirConcentrationSensor" type="CO2AirConcentrationSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2AirEnvironmentInFlowRateSensor" type="CO2AirEnvironmentInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2AirEnvironmentOutFlowRateSensor" type="CO2AirEnvironmentOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2AirPressureSensor" type="CO2AirPressureSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2AirStoreInFlowRateSensor" type="CO2AirStoreInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2AirStoreOutFlowRateSensor" type="CO2AirStoreOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2AirConcentrationSensor" type="O2AirConcentrationSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2AirEnvironmentInFlowRateSensor" type="O2AirEnvironmentInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2AirEnvironmentOutFlowRateSensor" type="O2AirEnvironmentOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2AirPressureSensor" type="O2AirPressureSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2AirStoreInFlowRateSensor" type="O2AirStoreInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2AirStoreOutFlowRateSensor" type="O2AirStoreOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenAirConcentrationSensor" type="NitrogenAirConcentrationSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenAirPressureSensor" type="NitrogenAirPressureSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenAirEnvironmentInFlowRateSensor" type="NitrogenAirEnvironmentInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenAirEnvironmentOutFlowRateSensor" type="NitrogenAirEnvironmentOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenAirStoreInFlowRateSensor" type="NitrogenAirStoreInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenAirStoreOutFlowRateSensor" type="NitrogenAirStoreOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="WaterAirConcentrationSensor" type="WaterAirConcentrationSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="WaterAirPressureSensor" type="WaterAirPressureSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="WaterAirEnvironmentInFlowRateSensor" type="WaterAirEnvironmentInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="WaterAirEnvironmentOutFlowRateSensor" type="WaterAirEnvironmentOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="WaterAirStoreInFlowRateSensor" type="WaterAirStoreInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="WaterAirStoreOutFlowRateSensor" type="WaterAirStoreOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>	
						<xsd:element name="OtherAirConcentrationSensor" type="OtherAirConcentrationSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="OtherAirPressureSensor" type="OtherAirPressureSensorType" minOccurs="0" maxOccurs="unbounded"/>	
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BiomassInFlowRateSensor" type="BiomassInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="BiomassOutFlowRateSensor" type="BiomassOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="BiomassStoreLevelSensor" type="BiomassStoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="FoodInFlowRateSensor" type="FoodInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="FoodOutFlowRateSensor" type="FoodOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="FoodStoreLevelSensor" type="FoodStoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="framework" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="StoreLevelSensor" type="StoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="StoreOverflowSensor" type="StoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PowerInFlowRateSensor" type="PowerInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PowerOutFlowRateSensor" type="PowerOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PowerStoreLevelSensor" type="PowerStoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DirtyWaterInFlowRateSensor" type="DirtyWaterInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="DirtyWaterOutFlowRateSensor" type="DirtyWaterOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="DirtyWaterStoreLevelSensor" type="DirtyWaterStoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="GreyWaterInFlowRateSensor" type="GreyWaterInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="GreyWaterOutFlowRateSensor" type="GreyWaterOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="GreyWaterStoreLevelSensor" type="GreyWaterStoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PotableWaterInFlowRateSensor" type="PotableWaterInFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PotableWaterOutFlowRateSensor" type="PotableWaterOutFlowRateSensorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PotableWaterStoreLevelSensor" type="PotableWaterStoreLevelSensorType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
	<xsd:complexType name="ActuatorsType">
		<xsd:all>
			<xsd:element name="air" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CO2InFlowRateActuator" type="CO2InFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2OutFlowRateActuator" type="CO2OutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2InFlowRateActuator" type="O2InFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2OutFlowRateActuator" type="O2OutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="H2InFlowRateActuator" type="H2InFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="H2OutFlowRateActuator" type="H2OutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenInFlowRateActuator" type="NitrogenInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenOutFlowRateActuator" type="NitrogenOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="crew" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AirInFlowRateActuator" type="AirInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="AirOutFlowRateActuator" type="AirOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2AirEnvironmentInFlowRateActuator" type="CO2AirEnvironmentInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2AirEnvironmentOutFlowRateActuator" type="CO2AirEnvironmentOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2AirStoreInFlowRateActuator" type="CO2AirStoreInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="CO2AirStoreOutFlowRateActuator" type="CO2AirStoreOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2AirEnvironmentInFlowRateActuator" type="O2AirEnvironmentInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2AirEnvironmentOutFlowRateActuator" type="O2AirEnvironmentOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2AirStoreInFlowRateActuator" type="O2AirStoreInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="O2AirStoreOutFlowRateActuator" type="O2AirStoreOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenAirEnvironmentInFlowRateActuator" type="NitrogenAirEnvironmentInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenAirEnvironmentOutFlowRateActuator" type="NitrogenAirEnvironmentOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenAirStoreInFlowRateActuator" type="NitrogenAirStoreInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="NitrogenAirStoreOutFlowRateActuator" type="NitrogenAirStoreOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BiomassInFlowRateActuator" type="BiomassInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="BiomassOutFlowRateActuator" type="BiomassOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="FoodInFlowRateActuator" type="FoodInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="FoodOutFlowRateActuator" type="FoodOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PowerInFlowRateActuator" type="PowerInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PowerOutFlowRateActuator" type="PowerOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DirtyWaterInFlowRateActuator" type="DirtyWaterInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="DirtyWaterOutFlowRateActuator" type="DirtyWaterOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="GreyWaterInFlowRateActuator" type="GreyWaterInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="GreyWaterOutFlowRateActuator" type="GreyWaterOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PotableWaterInFlowRateActuator" type="PotableWaterInFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PotableWaterOutFlowRateActuator" type="PotableWaterOutFlowRateActuatorType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
	<!-- Producer/Consumer types -->
	<xsd:complexType name="FlowRateType">  
		<xsd:attribute name="maxFlowRates" type="floatList" use="required"/>
		<xsd:attribute name="desiredFlowRates" type="floatList" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateType">
					<xsd:attribute name="inputs" type="stringList" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateType">
					<xsd:attribute name="outputs" type="stringList" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="LightConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirConsumerType">
		<xsd:sequence>
			<xsd:element name="environmentInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirConsumerType">  
		<xsd:sequence>
			<xsd:element name="environmentInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirConsumerType">  
		<xsd:sequence>
			<xsd:element name="environmentInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirConsumerType">  
		<xsd:sequence>
			<xsd:element name="environmentInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PowerProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirProducerType">  
		<xsd:sequence>
			<xsd:element name="environmentOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirProducerType">  
		<xsd:sequence>
			<xsd:element name="environmentOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirProducerType">  
		<xsd:sequence>
			<xsd:element name="environmentOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirProducerType">  
		<xsd:sequence>
			<xsd:element name="environmentOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Malfunction declarations -->
	
	<xsd:simpleType name="MalfunctionIntensityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SEVERE_MALF"/>
			<xsd:enumeration value="MEDIUM_MALF"/>
			<xsd:enumeration value="LOW_MALF"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="MalfunctionIntensityLength">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TEMPORARY_MALF"/>
			<xsd:enumeration value="PERMANENT_MALF"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="MalfunctionType">
		<xsd:attribute name="intensity" type="MalfunctionIntensityType" use="required"/>
		<xsd:attribute name="length" type="MalfunctionIntensityLength" use="required"/>
		<xsd:attribute name="occursAtTick" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	
	<!-- Module declarations -->
	<xsd:complexType name="BioModuleType">
		<xsd:sequence>
			<xsd:element name="malfunction" type="MalfunctionType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="isLoggingEnabled" type="xsd:boolean" default="false"/>
		<xsd:attribute name="isBreakdownEnabled" type="xsd:boolean" default="false"/>
		<xsd:attribute name="setStochasticIntensity" type="StochasticIntensityType" default="NONE_STOCH"/>
		<xsd:attribute name="createLocally" type="xsd:boolean" default="true"/>
	</xsd:complexType>
	
	<!-- Store declarations -->
	<xsd:complexType name="Store">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
					<xsd:attribute name="capacity" type="xsd:nonNegativeInteger" use="required"/>
					<xsd:attribute name="level" type="xsd:nonNegativeInteger" use="required"/>
					<xsd:attribute name="resupplyFrequency" type="xsd:nonNegativeInteger" default="0"/>
					<xsd:attribute name="resupplyAmount" type="xsd:nonNegativeInteger" default="0"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	<!-- Special CrewGroup specific declarations -->
	<xsd:complexType name="ScheduleType">
		<xsd:sequence>
			<xsd:element name="activity" type="ActivityType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ActivityType">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="length" type="xsd:nonNegativeInteger" use="required"/>
		<xsd:attribute name="intensity" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="CrewPersonType">
		<xsd:sequence>
			<xsd:element name="schedule" type="ScheduleType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="age" type="nonNegativeFloat" use="required"/>
		<xsd:attribute name="weight" type="nonNegativeFloat" use="required"/>
		<xsd:attribute name="sex" type="SexType" use="required"/>
	</xsd:complexType>
	
	<xsd:simpleType name="SexType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MALE"/>
			<xsd:enumeration value="FEMALE"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special BiomassRS specific declarations -->
	<xsd:complexType name="ShelfType">
		<xsd:attribute name="cropType" type="CropType" use="required"/>
		<xsd:attribute name="cropArea" type="nonNegativeFloat" use="required"/>
	</xsd:complexType>
	
	<xsd:simpleType name="CropType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DRY_BEAN"/>
			<xsd:enumeration value="LETTUCE"/>
			<xsd:enumeration value="PEANUT"/>
			<xsd:enumeration value="RICE"/>
			<xsd:enumeration value="SOYBEAN"/>
			<xsd:enumeration value="SWEET_POTATO"/>
			<xsd:enumeration value="TOMATO"/>
			<xsd:enumeration value="WHEAT"/>
			<xsd:enumeration value="WHITE_POTATO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special PowerPS specific declarations -->
	<xsd:simpleType name="GenerationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SOLAR"/>
			<xsd:enumeration value="NUCLEAR"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- SimModule declarations -->
	
	<xsd:complexType name="AirRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="powerConsumer" type="PowerConsumerType"/>
					<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
					<xsd:element name="airConsumer" type="AirConsumerType"/>
					<xsd:element name="CO2Consumer" type="CO2ConsumerType"/>
					<xsd:element name="H2Consumer" type="H2ConsumerType"/>
					<xsd:element name="potableWaterProducer" type="PotableWaterProducerType"/>
					<xsd:element name="O2Producer" type="O2ProducerType"/>
					<xsd:element name="airProducer" type="AirProducerType"/>
					<xsd:element name="CO2Producer" type="CO2ProducerType"/>
					<xsd:element name="H2Producer" type="H2ProducerType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CrewGroupType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
					<xsd:element name="airConsumer" type="AirConsumerType"/>
					<xsd:element name="foodConsumer" type="FoodConsumerType"/>
					<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType"/>
					<xsd:element name="greyWaterProducer" type="GreyWaterProducerType"/>
					<xsd:element name="airProducer" type="AirProducerType"/>
					<xsd:element name="crewPerson" type="CrewPersonType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="SimEnvironmentType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:attribute name="initialVolume" type="nonNegativeFloat" use="required"/>
				<xsd:attribute name="initialCO2Moles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialO2Moles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialOtherMoles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialWaterMoles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialNitrogenMoles" type="nonNegativeFloat" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="shelf" type="ShelfType" minOccurs="1" maxOccurs="unbounded"/>
					<xsd:element name="powerConsumer" type="PowerConsumerType"/>
					<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
					<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType"/>
					<xsd:element name="airConsumer" type="AirConsumerType"/>
					<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType"/>
					<xsd:element name="biomassProducer" type="BiomassProducerType"/>
					<xsd:element name="airProducer" type="AirProducerType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodProcessorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="powerConsumer" type="PowerConsumerType"/>
					<xsd:element name="biomassConsumer" type="BiomassConsumerType"/>
					<xsd:element name="foodProducer" type="FoodProducerType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerPSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="lightConsumer" type="LightConsumerType"/>
					<xsd:element name="powerProducer" type="PowerProducerType"/>
				</xsd:sequence>
				<xsd:attribute name="generation" type="GenerationType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="powerConsumer" type="PowerConsumerType"/>
					<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType"/>
					<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType"/>
					<xsd:element name="potableWaterProducer" type="PotableWaterProducerType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AccumulatorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="powerConsumer" type="PowerConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="powerProducer" type="PowerProducerType" minOccurs="0" maxOccurs="1"/>  
					<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="potableWaterProducer" type="PotableWaterProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="greyWaterProducer" type="GreyWaterProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="airConsumer" type="AirConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="airProducer" type="AirProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="H2Consumer" type="H2ConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="H2Producer" type="H2ProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="NitrogenConsumer" type="NitrogenConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="NitrogenProducer" type="NitrogenProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="NitrogenAirConsumer" type="NitrogenAirConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="NitrogenAirProducer" type="NitrogenAirProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="WaterAirConsumer" type="WaterAirConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="WaterAirProducer" type="WaterAirProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="O2AirConsumer" type="O2AirConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="O2AirProducer" type="O2AirProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="CO2AirConsumer" type="CO2AirConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="CO2AirProducer" type="CO2AirProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="O2Consumer" type="O2ConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="O2Producer" type="O2ProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="CO2Consumer" type="CO2ConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="CO2Producer" type="CO2ProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="LightConsumer" type="LightConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="biomassConsumer" type="BiomassConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="biomassProducer" type="BiomassProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="foodConsumer" type="FoodConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="foodProducer" type="FoodProducerType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InjectorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:element name="powerConsumer" type="PowerConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="powerProducer" type="PowerProducerType" minOccurs="0" maxOccurs="1"/>  
					<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="potableWaterProducer" type="PotableWaterProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="greyWaterProducer" type="GreyWaterProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="airConsumer" type="AirConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="airProducer" type="AirProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="H2Consumer" type="H2ConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="H2Producer" type="H2ProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="NitrogenConsumer" type="NitrogenConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="NitrogenProducer" type="NitrogenProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="NitrogenAirConsumer" type="NitrogenAirConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="NitrogenAirProducer" type="NitrogenAirProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="WaterAirConsumer" type="WaterAirConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="WaterAirProducer" type="WaterAirProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="O2AirConsumer" type="O2AirConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="O2AirProducer" type="O2AirProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="CO2AirConsumer" type="CO2AirConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="CO2AirProducer" type="CO2AirProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="O2Consumer" type="O2ConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="O2Producer" type="O2ProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="CO2Consumer" type="CO2ConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="CO2Producer" type="CO2ProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="LightConsumer" type="LightConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="biomassConsumer" type="BiomassConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="biomassProducer" type="BiomassProducerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="foodConsumer" type="FoodConsumerType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="foodProducer" type="FoodProducerType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Sensor declarations -->
	
	<xsd:complexType name="SensorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:attribute name="input" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
				<xsd:attribute name="index" type="xsd:nonNegativeInteger" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Air sensor declarations -->
	<xsd:complexType name="CO2InFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2OutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2InFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2OutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2InFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2OutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Crew sensor declarations -->
	<xsd:complexType name="CrewGroupDeathSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Environment sensor declarations -->
	<xsd:complexType name="AirInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirEnvironmentInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirEnvironmentOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirStoreInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirStoreOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OtherAirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OtherAirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirEnvironmentInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirEnvironmentOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirStoreInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirStoreOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food sensor declarations -->
	<xsd:complexType name="BiomassInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Framework sensor declarations -->
	<xsd:complexType name="StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="StoreOverflowSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food sensor declarations -->
	<xsd:complexType name="PowerInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Water sensor declarations -->
	<xsd:complexType name="DirtyWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Actuator declarations -->
	<xsd:complexType name="ActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:attribute name="output" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
				<xsd:attribute name="index" type="xsd:nonNegativeInteger" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Air actuator declarations -->
	<xsd:complexType name="CO2InFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2OutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2InFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2OutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2InFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2OutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Environment actuator declarations -->
	<xsd:complexType name="AirInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirEnvironmentInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirEnvironmentOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirStoreInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirStoreOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirEnvironmentInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirEnvironmentOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirStoreInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirStoreOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food actuator declarations -->
	<xsd:complexType name="BiomassInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Power actuator declarations -->
	<xsd:complexType name="PowerInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Water actuator declarations -->
	<xsd:complexType name="DirtyWaterInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
</xsd:schema>

