BIOSIM/resources/com/traclabs/biosim/server/framework/schema/sensor/Sensor.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.traclabs.com/biosim" 
	targetNamespace="http://www.traclabs.com/biosim"
	elementFormDefault="qualified">
	
	<xsd:include schemaLocation="Air.xsd"/>
	
	<!-- Sensor declarations -->
	
	<xsd:complexType name="SensorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:attribute name="input" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
				<xsd:attribute name="index" type="xsd:nonNegativeInteger" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ShelfSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
				<xsd:attribute name="shelfIndex" type="xsd:nonNegativeInteger" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Crew sensor declarations -->
	<xsd:complexType name="CrewGroupDeathSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CrewGroupAnyDeadSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CrewGroupProductivitySensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Environment sensor declarations -->
	<xsd:complexType name="AirInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GasConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
				<xsd:attribute name="gasType" type="GasType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GasPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
				<xsd:attribute name="gasType" type="GasType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food sensor declarations -->
	<xsd:complexType name="BiomassInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="HarvestSensorType">  
		<xsd:complexContent>
			<xsd:extension base="ShelfSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PlantDeathSensorType">  
		<xsd:complexContent>
			<xsd:extension base="ShelfSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassStoreWaterContentSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Framework sensor declarations -->
	<xsd:complexType name="StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="StoreOverflowSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InfluentValveStateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="EffluentValveStateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food sensor declarations -->
	<xsd:complexType name="PowerInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Water sensor declarations -->
	<xsd:complexType name="DirtyWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Waste sensor declarations -->
	<xsd:complexType name="DryWasteInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DryWasteOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="SensorsType">
		<xsd:all>
			<xsd:element name="air" type="AirSensorsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="crew" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="CrewGroupDeathSensor" type="CrewGroupDeathSensorType"/>			
							<xsd:element name="CrewGroupProductivitySensor" type="CrewGroupProductivitySensorType"/>			
							<xsd:element name="CrewGroupAnyDeadSensor" type="CrewGroupAnyDeadSensorType"/>
						</xsd:choice>			
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="AirInFlowRateSensor" type="AirInFlowRateSensorType"/>
							<xsd:element name="AirOutFlowRateSensor" type="AirOutFlowRateSensorType"/>
							<xsd:element name="GasPressureSensor" type="GasPressureSensorType"/>
							<xsd:element name="GasConcentrationSensor" type="GasConcentrationSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="BiomassInFlowRateSensor" type="BiomassInFlowRateSensorType"/>
							<xsd:element name="BiomassOutFlowRateSensor" type="BiomassOutFlowRateSensorType"/>
							<xsd:element name="FoodInFlowRateSensor" type="FoodInFlowRateSensorType"/>
							<xsd:element name="FoodOutFlowRateSensor" type="FoodOutFlowRateSensorType"/>
							<xsd:element name="HarvestSensor" type="HarvestSensorType"/>
							<xsd:element name="PlantDeathSensor" type="PlantDeathSensorType"/>
							<xsd:element name="BiomassStoreWaterContentSensor" type="BiomassStoreWaterContentSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="framework" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="StoreLevelSensor" type="StoreLevelSensorType"/>
							<xsd:element name="StoreOverflowSensor" type="StoreLevelSensorType"/>
							<xsd:element name="InfluentValveStateSensor" type="InfluentValveStateSensorType"/>
							<xsd:element name="EffluentValveStateSensor" type="EffluentValveStateSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="PowerInFlowRateSensor" type="PowerInFlowRateSensorType"/>
							<xsd:element name="PowerOutFlowRateSensor" type="PowerOutFlowRateSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="DirtyWaterInFlowRateSensor" type="DirtyWaterInFlowRateSensorType"/>
							<xsd:element name="DirtyWaterOutFlowRateSensor" type="DirtyWaterOutFlowRateSensorType"/>
							<xsd:element name="GreyWaterInFlowRateSensor" type="GreyWaterInFlowRateSensorType"/>
							<xsd:element name="GreyWaterOutFlowRateSensor" type="GreyWaterOutFlowRateSensorType"/>
							<xsd:element name="PotableWaterInFlowRateSensor" type="PotableWaterInFlowRateSensorType"/>
							<xsd:element name="PotableWaterOutFlowRateSensor" type="PotableWaterOutFlowRateSensorType"/>
							<xsd:element name="WaterInFlowRateSensor" type="WaterInFlowRateSensorType"/>
							<xsd:element name="WaterOutFlowRateSensor" type="WaterOutFlowRateSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="waste" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="DryWasteInFlowRateSensor" type="DryWasteInFlowRateSensorType"/>
							<xsd:element name="DryWasteOutFlowRateSensor" type="DryWasteOutFlowRateSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
</xsd:schema>