BIOSIM/resources/com/traclabs/biosim/server/framework/BiosimInitSchema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <xsd:annotation>
  <xsd:documentation xml:lang="en">
   BioSim Initialization Schema
  </xsd:documentation>
 </xsd:annotation>

 <xsd:element name="biosim" type="BioSimType"/>

 <xsd:element name="comment" type="xsd:string"/>

 <xsd:complexType name="BioSimType">
 	<xsd:element name="dog" type="xsd:string"/>
 </xsd:complexType>
 
</xsd:schema>


