BIOSIM/resources/com/traclabs/biosim/server/framework/BiosimInitSchema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">BioSim Initialization Schema</xsd:documentation>
	</xsd:annotation>
	
	<!-- Simple types -->
	<xsd:simpleType name="floatList">
		<xsd:list itemType="nonNegativeFloat"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="stringList">
		<xsd:list itemType="xsd:string"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="nonNegativeFloat">
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="percentageFloat">
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Top level element declaration -->	
	<xsd:element name="biosim" type="BioSimType"/>
	
	<xsd:complexType name="BioSimType">
		<xsd:sequence>
			<xsd:element name="Globals" type="GlobalsType"/>
			<xsd:element name="SimBioModules" type="SimBioModulesType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Sensors" type="SensorsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Actuators" type="ActuatorsType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>     
	</xsd:complexType>
	
	<xsd:complexType name="GlobalsType">
		<xsd:sequence>
			<xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1"/>	
			<xsd:element name="author" type="xsd:string" minOccurs="0" maxOccurs="1"/>	
			<xsd:element name="log4jProperty" type="log4jPropertyType" minOccurs="0" maxOccurs="unbounded"/>	
		</xsd:sequence>
		<xsd:attribute name="startPaused" type="xsd:boolean" default="true"/>
		<xsd:attribute name="runTillN" type="xsd:nonNegativeInteger" default="0"/>
		<xsd:attribute name="runTillCrewDeath" type="xsd:boolean" default="true"/>
		<xsd:attribute name="runTillPlantDeath" type="xsd:boolean" default="false"/>
		<xsd:attribute name="crewsToWatch" type="stringList" use="optional"/>
		<xsd:attribute name="plantsToWatch" type="stringList" use="optional"/>
		<xsd:attribute name="driverStutterLength" type="xsd:integer" default="-1"/>     
		<xsd:attribute name="isLooping" type="xsd:boolean" default="false"/>
		<xsd:attribute name="stochasticIntensity" type="StochasticIntensityType" default="NONE_STOCH"/>
	</xsd:complexType>
	
	<xsd:complexType name="log4jPropertyType">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:simpleType name="StochasticIntensityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HIGH_STOCH"/>
			<xsd:enumeration value="MEDIUM_STOCH"/>
			<xsd:enumeration value="LOW_STOCH"/>
			<xsd:enumeration value="NONE_STOCH"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="SimBioModulesType">
		<xsd:all>
			<xsd:element name="air" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="AirRS" type="AirRSType"/>
							<xsd:element name="OGS" type="OGSType" />
							<xsd:element name="CRS" type="CRSType"/>
							<xsd:element name="VCCR" type="VCCRType"/>
							<xsd:element name="O2Store" type="O2StoreType"/>
							<xsd:element name="CO2Store" type="CO2StoreType"/>
							<xsd:element name="H2Store" type="H2StoreType"/>
							<xsd:element name="NitrogenStore" type="NitrogenStoreType"/>
							<xsd:element name="MethaneStore" type="NitrogenStoreType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="crew" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="CrewGroup" type="CrewGroupType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="SimEnvironment" type="SimEnvironmentType"/>
							<xsd:element name="Dehumidifier" type="DehumidifierType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="FoodProcessor" type="FoodProcessorType"/>
							<xsd:element name="BiomassRS" type="BiomassRSType"/>
							<xsd:element name="BiomassStore" type="BiomassStoreType"/>
							<xsd:element name="FoodStore" type="FoodStoreType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>	
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="PowerPS" type="PowerPSType"/>
							<xsd:element name="PowerStore" type="PowerStoreType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="WaterRS" type="WaterRSType"/>
							<xsd:element name="PotableWaterStore" type="PotableWaterStoreType"/>
							<xsd:element name="GreyWaterStore" type="GreyWaterStoreType"/>
							<xsd:element name="DirtyWaterStore" type="DirtyWaterStoreType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="waste" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="Incinerator" type="IncineratorType"/>
							<xsd:element name="DryWasteStore" type="DryWasteStoreType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="framework" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="Accumulator" type="AccumulatorType"/>
							<xsd:element name="Injector" type="InjectorType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="mission" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="EVAMission" type="EVAMissionType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
	<xsd:complexType name="SensorsType">
		<xsd:all>
			<xsd:element name="air" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="CO2InFlowRateSensor" type="CO2InFlowRateSensorType"/>
							<xsd:element name="CO2OutFlowRateSensor" type="CO2OutFlowRateSensorType"/>
							<xsd:element name="CO2StoreLevelSensor" type="CO2StoreLevelSensorType"/>
							<xsd:element name="O2InFlowRateSensor" type="O2InFlowRateSensorType"/>
							<xsd:element name="O2OutFlowRateSensor" type="O2OutFlowRateSensorType"/>
							<xsd:element name="O2StoreLevelSensor" type="O2StoreLevelSensorType"/>
							<xsd:element name="H2InFlowRateSensor" type="H2InFlowRateSensorType"/>
							<xsd:element name="H2OutFlowRateSensor" type="H2OutFlowRateSensorType"/>
							<xsd:element name="H2StoreLevelSensor" type="H2StoreLevelSensorType"/>
							<xsd:element name="NitrogenInFlowRateSensor" type="NitrogenInFlowRateSensorType"/>
							<xsd:element name="NitrogenOutFlowRateSensor" type="NitrogenOutFlowRateSensorType"/>
							<xsd:element name="NitrogenStoreLevelSensor" type="NitrogenStoreLevelSensorType"/>
							<xsd:element name="MethaneOutFlowRateSensor" type="MethaneOutFlowRateSensorType"/>
							<xsd:element name="MethaneStoreLevelSensor" type="MethaneStoreLevelSensorType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="crew" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="CrewGroupDeathSensor" type="CrewGroupDeathSensorType"/>			
							<xsd:element name="CrewGroupProductivitySensor" type="CrewGroupProductivitySensorType"/>			
							<xsd:element name="CrewGroupAnyDeadSensor" type="CrewGroupAnyDeadSensorType"/>
						</xsd:choice>			
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="AirInFlowRateSensor" type="AirInFlowRateSensorType"/>
							<xsd:element name="AirOutFlowRateSensor" type="AirOutFlowRateSensorType"/>
							<xsd:element name="CO2AirConcentrationSensor" type="CO2AirConcentrationSensorType"/>
							<xsd:element name="CO2AirEnvironmentInFlowRateSensor" type="CO2AirEnvironmentInFlowRateSensorType"/>
							<xsd:element name="CO2AirEnvironmentOutFlowRateSensor" type="CO2AirEnvironmentOutFlowRateSensorType"/>
							<xsd:element name="CO2AirPressureSensor" type="CO2AirPressureSensorType"/>
							<xsd:element name="CO2AirStoreInFlowRateSensor" type="CO2AirStoreInFlowRateSensorType"/>
							<xsd:element name="CO2AirStoreOutFlowRateSensor" type="CO2AirStoreOutFlowRateSensorType"/>
							<xsd:element name="O2AirConcentrationSensor" type="O2AirConcentrationSensorType"/>
							<xsd:element name="O2AirEnvironmentInFlowRateSensor" type="O2AirEnvironmentInFlowRateSensorType"/>
							<xsd:element name="O2AirEnvironmentOutFlowRateSensor" type="O2AirEnvironmentOutFlowRateSensorType"/>
							<xsd:element name="O2AirPressureSensor" type="O2AirPressureSensorType"/>
							<xsd:element name="O2AirStoreInFlowRateSensor" type="O2AirStoreInFlowRateSensorType"/>
							<xsd:element name="O2AirStoreOutFlowRateSensor" type="O2AirStoreOutFlowRateSensorType"/>
							<xsd:element name="NitrogenAirConcentrationSensor" type="NitrogenAirConcentrationSensorType"/>
							<xsd:element name="NitrogenAirPressureSensor" type="NitrogenAirPressureSensorType"/>
							<xsd:element name="NitrogenAirEnvironmentInFlowRateSensor" type="NitrogenAirEnvironmentInFlowRateSensorType"/>
							<xsd:element name="NitrogenAirEnvironmentOutFlowRateSensor" type="NitrogenAirEnvironmentOutFlowRateSensorType"/>
							<xsd:element name="NitrogenAirStoreInFlowRateSensor" type="NitrogenAirStoreInFlowRateSensorType"/>
							<xsd:element name="NitrogenAirStoreOutFlowRateSensor" type="NitrogenAirStoreOutFlowRateSensorType"/>
							<xsd:element name="WaterAirConcentrationSensor" type="WaterAirConcentrationSensorType"/>
							<xsd:element name="WaterAirPressureSensor" type="WaterAirPressureSensorType"/>
							<xsd:element name="WaterAirEnvironmentInFlowRateSensor" type="WaterAirEnvironmentInFlowRateSensorType"/>
							<xsd:element name="WaterAirEnvironmentOutFlowRateSensor" type="WaterAirEnvironmentOutFlowRateSensorType"/>
							<xsd:element name="WaterAirStoreInFlowRateSensor" type="WaterAirStoreInFlowRateSensorType"/>
							<xsd:element name="WaterAirStoreOutFlowRateSensor" type="WaterAirStoreOutFlowRateSensorType"/>	
							<xsd:element name="OtherAirConcentrationSensor" type="OtherAirConcentrationSensorType"/>
							<xsd:element name="OtherAirPressureSensor" type="OtherAirPressureSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="BiomassInFlowRateSensor" type="BiomassInFlowRateSensorType"/>
							<xsd:element name="BiomassOutFlowRateSensor" type="BiomassOutFlowRateSensorType"/>
							<xsd:element name="BiomassStoreLevelSensor" type="BiomassStoreLevelSensorType"/>
							<xsd:element name="FoodInFlowRateSensor" type="FoodInFlowRateSensorType"/>
							<xsd:element name="FoodOutFlowRateSensor" type="FoodOutFlowRateSensorType"/>
							<xsd:element name="FoodStoreLevelSensor" type="FoodStoreLevelSensorType"/>
							<xsd:element name="HarvestSensor" type="HarvestSensorType"/>
							<xsd:element name="PlantDeathSensor" type="PlantDeathSensorType"/>
							<xsd:element name="BiomassStoreWaterContentSensor" type="BiomassStoreWaterContentSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="framework" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="StoreLevelSensor" type="StoreLevelSensorType"/>
							<xsd:element name="StoreOverflowSensor" type="StoreLevelSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="PowerInFlowRateSensor" type="PowerInFlowRateSensorType"/>
							<xsd:element name="PowerOutFlowRateSensor" type="PowerOutFlowRateSensorType"/>
							<xsd:element name="PowerStoreLevelSensor" type="PowerStoreLevelSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="DirtyWaterInFlowRateSensor" type="DirtyWaterInFlowRateSensorType"/>
							<xsd:element name="DirtyWaterOutFlowRateSensor" type="DirtyWaterOutFlowRateSensorType"/>
							<xsd:element name="DirtyWaterStoreLevelSensor" type="DirtyWaterStoreLevelSensorType"/>
							<xsd:element name="GreyWaterInFlowRateSensor" type="GreyWaterInFlowRateSensorType"/>
							<xsd:element name="GreyWaterOutFlowRateSensor" type="GreyWaterOutFlowRateSensorType"/>
							<xsd:element name="GreyWaterStoreLevelSensor" type="GreyWaterStoreLevelSensorType"/>
							<xsd:element name="PotableWaterInFlowRateSensor" type="PotableWaterInFlowRateSensorType"/>
							<xsd:element name="PotableWaterOutFlowRateSensor" type="PotableWaterOutFlowRateSensorType"/>
							<xsd:element name="PotableWaterStoreLevelSensor" type="PotableWaterStoreLevelSensorType"/>
							<xsd:element name="WaterInFlowRateSensor" type="WaterInFlowRateSensorType"/>
							<xsd:element name="WaterOutFlowRateSensor" type="WaterOutFlowRateSensorType"/>
							<xsd:element name="WaterStoreLevelSensor" type="WaterStoreLevelSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="waste" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="DryWasteInFlowRateSensor" type="DryWasteInFlowRateSensorType"/>
							<xsd:element name="DryWasteOutFlowRateSensor" type="DryWasteOutFlowRateSensorType"/>
							<xsd:element name="DryWasteStoreLevelSensor" type="DryWasteStoreLevelSensorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
	<xsd:complexType name="ActuatorsType">
		<xsd:all>
			<xsd:element name="air" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="CO2InFlowRateActuator" type="CO2InFlowRateActuatorType"/>
							<xsd:element name="CO2OutFlowRateActuator" type="CO2OutFlowRateActuatorType"/>
							<xsd:element name="O2InFlowRateActuator" type="O2InFlowRateActuatorType"/>
							<xsd:element name="O2OutFlowRateActuator" type="O2OutFlowRateActuatorType"/>
							<xsd:element name="H2InFlowRateActuator" type="H2InFlowRateActuatorType"/>
							<xsd:element name="H2OutFlowRateActuator" type="H2OutFlowRateActuatorType"/>
							<xsd:element name="NitrogenInFlowRateActuator" type="NitrogenInFlowRateActuatorType"/>
							<xsd:element name="NitrogenOutFlowRateActuator" type="NitrogenOutFlowRateActuatorType"/>
							<xsd:element name="MethaneInFlowRateActuator" type="MethaneInFlowRateActuatorType"/>
							<xsd:element name="MethaneOutFlowRateActuator" type="MethaneOutFlowRateActuatorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="crew" minOccurs="0" maxOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="AirInFlowRateActuator" type="AirInFlowRateActuatorType"/>
							<xsd:element name="AirOutFlowRateActuator" type="AirOutFlowRateActuatorType"/>
							<xsd:element name="CO2AirEnvironmentInFlowRateActuator" type="CO2AirEnvironmentInFlowRateActuatorType"/>
							<xsd:element name="CO2AirEnvironmentOutFlowRateActuator" type="CO2AirEnvironmentOutFlowRateActuatorType"/>
							<xsd:element name="CO2AirStoreInFlowRateActuator" type="CO2AirStoreInFlowRateActuatorType"/>
							<xsd:element name="CO2AirStoreOutFlowRateActuator" type="CO2AirStoreOutFlowRateActuatorType"/>
							<xsd:element name="O2AirEnvironmentInFlowRateActuator" type="O2AirEnvironmentInFlowRateActuatorType"/>
							<xsd:element name="O2AirEnvironmentOutFlowRateActuator" type="O2AirEnvironmentOutFlowRateActuatorType"/>
							<xsd:element name="O2AirStoreInFlowRateActuator" type="O2AirStoreInFlowRateActuatorType"/>
							<xsd:element name="O2AirStoreOutFlowRateActuator" type="O2AirStoreOutFlowRateActuatorType"/>
							<xsd:element name="NitrogenAirEnvironmentInFlowRateActuator" type="NitrogenAirEnvironmentInFlowRateActuatorType"/>
							<xsd:element name="NitrogenAirEnvironmentOutFlowRateActuator" type="NitrogenAirEnvironmentOutFlowRateActuatorType"/>
							<xsd:element name="NitrogenAirStoreInFlowRateActuator" type="NitrogenAirStoreInFlowRateActuatorType"/>
							<xsd:element name="NitrogenAirStoreOutFlowRateActuator" type="NitrogenAirStoreOutFlowRateActuatorType"/>
							<xsd:element name="WaterAirEnvironmentInFlowRateActuator" type="WaterAirEnvironmentInFlowRateActuatorType"/>
							<xsd:element name="WaterAirEnvironmentOutFlowRateActuator" type="WaterAirEnvironmentOutFlowRateActuatorType"/>
							<xsd:element name="WaterAirStoreInFlowRateActuator" type="WaterAirStoreInFlowRateActuatorType"/>
							<xsd:element name="WaterAirStoreOutFlowRateActuator" type="WaterAirStoreOutFlowRateActuatorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="BiomassInFlowRateActuator" type="BiomassInFlowRateActuatorType"/>
							<xsd:element name="BiomassOutFlowRateActuator" type="BiomassOutFlowRateActuatorType"/>
							<xsd:element name="FoodInFlowRateActuator" type="FoodInFlowRateActuatorType"/>
							<xsd:element name="FoodOutFlowRateActuator" type="FoodOutFlowRateActuatorType"/>
							<xsd:element name="HarvestingActuator" type="HarvestingActuatorType"/>
							<xsd:element name="PlantingActuator" type="PlantingActuatorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="PowerInFlowRateActuator" type="PowerInFlowRateActuatorType"/>
							<xsd:element name="PowerOutFlowRateActuator" type="PowerOutFlowRateActuatorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="DirtyWaterInFlowRateActuator" type="DirtyWaterInFlowRateActuatorType"/>
							<xsd:element name="DirtyWaterOutFlowRateActuator" type="DirtyWaterOutFlowRateActuatorType"/>
							<xsd:element name="GreyWaterInFlowRateActuator" type="GreyWaterInFlowRateActuatorType"/>
							<xsd:element name="GreyWaterOutFlowRateActuator" type="GreyWaterOutFlowRateActuatorType"/>
							<xsd:element name="PotableWaterInFlowRateActuator" type="PotableWaterInFlowRateActuatorType"/>
							<xsd:element name="PotableWaterOutFlowRateActuator" type="PotableWaterOutFlowRateActuatorType"/>
							<xsd:element name="WaterInFlowRateActuator" type="WaterInFlowRateActuatorType"/>
							<xsd:element name="WaterOutFlowRateActuator" type="WaterOutFlowRateActuatorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="waste" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="DryWasteInFlowRateActuator" type="DryWasteInFlowRateActuatorType"/>
							<xsd:element name="DryWasteOutFlowRateActuator" type="DryWasteOutFlowRateActuatorType"/>
						</xsd:choice>				
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
	<!-- Producer/Consumer types -->
	<xsd:complexType name="FlowRateType">  
		<xsd:attribute name="maxFlowRates" type="floatList" use="required"/>
		<xsd:attribute name="desiredFlowRates" type="floatList" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateType">
					<xsd:attribute name="inputs" type="stringList" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateType">
					<xsd:attribute name="outputs" type="stringList" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2ConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="MethaneConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="LightConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DryWasteConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="ConsumerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirConsumerType">
		<xsd:sequence>
			<xsd:element name="environmentInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirConsumerType">  
		<xsd:sequence>
			<xsd:element name="environmentInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirConsumerType">  
		<xsd:sequence>
			<xsd:element name="environmentInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirConsumerType">  
		<xsd:sequence>
			<xsd:element name="environmentInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeInputs" type="ConsumerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PowerProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2ProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="MethaneProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DryWasteProducerType">  
		<xsd:complexContent>
			<xsd:extension base="ProducerType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirProducerType">  
		<xsd:sequence>
			<xsd:element name="environmentOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirProducerType">  
		<xsd:sequence>
			<xsd:element name="environmentOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirProducerType">  
		<xsd:sequence>
			<xsd:element name="environmentOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirProducerType">  
		<xsd:sequence>
			<xsd:element name="environmentOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="storeOutputs" type="ProducerType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Malfunction declarations -->
	
	<xsd:simpleType name="MalfunctionIntensityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SEVERE_MALF"/>
			<xsd:enumeration value="MEDIUM_MALF"/>
			<xsd:enumeration value="LOW_MALF"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="MalfunctionIntensityLength">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TEMPORARY_MALF"/>
			<xsd:enumeration value="PERMANENT_MALF"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="MalfunctionType">
		<xsd:attribute name="intensity" type="MalfunctionIntensityType" use="required"/>
		<xsd:attribute name="length" type="MalfunctionIntensityLength" use="required"/>
		<xsd:attribute name="occursAtTick" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	
	<!-- Module declarations -->
	<xsd:complexType name="BioModuleType">
		<xsd:sequence>
			<xsd:element name="malfunction" type="MalfunctionType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="isLoggingEnabled" type="xsd:boolean" default="false"/>
		<xsd:attribute name="isBreakdownEnabled" type="xsd:boolean" default="false"/>
		<xsd:attribute name="setStochasticIntensity" type="StochasticIntensityType" default="NONE_STOCH"/>
		<xsd:attribute name="createLocally" type="xsd:boolean" default="true"/>
	</xsd:complexType>
	
	<!-- Store declarations -->
	<xsd:complexType name="Store">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
					<xsd:attribute name="capacity" type="nonNegativeFloat" use="required"/>
					<xsd:attribute name="level" type="nonNegativeFloat" use="required"/>
					<xsd:attribute name="resupplyFrequency" type="xsd:nonNegativeInteger" default="0"/>
					<xsd:attribute name="resupplyAmount" type="nonNegativeFloat" default="0"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="MethaneStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:attribute name="waterContent" type="nonNegativeFloat" default="5"/>
				<xsd:attribute name="cropType" type="CropType" default="WHEAT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:attribute name="inedibleFraction" type="percentageFloat" default="0.25"/>
				<xsd:attribute name="edibleWaterContent" type="nonNegativeFloat" default="5"/>
				<xsd:attribute name="inedibleWaterContent" type="nonNegativeFloat" default="5"/>
				<xsd:attribute name="cropType" type="CropType" default="WHEAT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DryWasteStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Special AirRS specific declarations -->
	<xsd:simpleType name="AirRSOperationMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FULL"/>
			<xsd:enumeration value="OFF"/>
			<xsd:enumeration value="LESS"/>
			<xsd:enumeration value="MOST"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="AirRSImplementationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NORMAL"/>
			<xsd:enumeration value="LINEAR"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<!-- Special CrewGroup specific declarations -->
	<xsd:complexType name="ScheduleType">
		<xsd:sequence>
			<xsd:element name="activity" type="ActivityType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="EVAActivityType">  
		<xsd:complexContent>
			<xsd:extension base="ActivityType">
				<xsd:attribute name="evaCrewGroup" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ActivityType">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="length" type="xsd:nonNegativeInteger" use="required"/>
		<xsd:attribute name="intensity" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="CrewPersonType">
		<xsd:sequence>
			<xsd:element name="schedule" type="ScheduleType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="age" type="nonNegativeFloat" use="required"/>
		<xsd:attribute name="weight" type="nonNegativeFloat" use="required"/>
		<xsd:attribute name="sex" type="SexType" use="required"/>
		<xsd:attribute name="arrivalDate" type="xsd:nonNegativeInteger" default="0"/>
		<xsd:attribute name="departureDate" type="xsd:integer" default="-1"/>
	</xsd:complexType>
	
	<xsd:simpleType name="SexType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MALE"/>
			<xsd:enumeration value="FEMALE"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special BiomassRS specific declarations -->
	<xsd:complexType name="ShelfType">
		<xsd:attribute name="cropType" type="CropType" use="required"/>
		<xsd:attribute name="cropArea" type="nonNegativeFloat" use="required"/>
		<xsd:attribute name="startTick" type="xsd:nonNegativeInteger" default="0"/>
	</xsd:complexType>
	
	<xsd:simpleType name="CropType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DRY_BEAN"/>
			<xsd:enumeration value="LETTUCE"/>
			<xsd:enumeration value="PEANUT"/>
			<xsd:enumeration value="RICE"/>
			<xsd:enumeration value="SOYBEAN"/>
			<xsd:enumeration value="SWEET_POTATO"/>
			<xsd:enumeration value="TOMATO"/>
			<xsd:enumeration value="WHEAT"/>
			<xsd:enumeration value="WHITE_POTATO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special PowerPS specific declarations -->
	<xsd:simpleType name="GenerationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SOLAR"/>
			<xsd:enumeration value="NUCLEAR"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special WaterRS specific declarations -->
	<xsd:simpleType name="WaterRSImplementationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MATLAB"/>
			<xsd:enumeration value="NORMAL"/>
			<xsd:enumeration value="LINEAR"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="WaterRSOperationMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FULL"/>
			<xsd:enumeration value="OFF"/>
			<xsd:enumeration value="GREY_WATER_ONLY"/>
			<xsd:enumeration value="PARTIAL"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- SimModule declarations -->
	<xsd:complexType name="AirRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="11" maxOccurs="11">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
						<xsd:element name="airConsumer" type="AirConsumerType"/>
						<xsd:element name="CO2Consumer" type="CO2ConsumerType"/>
						<xsd:element name="H2Consumer" type="H2ConsumerType"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType"/>
						<xsd:element name="O2Producer" type="O2ProducerType"/>
						<xsd:element name="airProducer" type="AirProducerType"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType"/>
						<xsd:element name="H2Producer" type="H2ProducerType"/>
						<xsd:element name="methaneProducer" type="MethaneProducerType"/>
					</xsd:choice>
				</xsd:sequence>
				<!--<xsd:attribute name="operationMode" type="AirRSOperationMode" default="FULL"/> -->
				<xsd:attribute name="implementation" type="AirRSImplementationType" default="NORMAL"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OGSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="4" maxOccurs="4">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
						<xsd:element name="O2Producer" type="O2ProducerType"/>
						<xsd:element name="H2Producer" type="H2ProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="5" maxOccurs="5">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="CO2Consumer" type="CO2ConsumerType"/>
						<xsd:element name="H2Consumer" type="H2ConsumerType"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType"/>
						<xsd:element name="methaneWaterProducer" type="MethaneProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="VCCRType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="4" maxOccurs="4">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="airConsumer" type="AirConsumerType"/>
						<xsd:element name="airProducer" type="AirProducerType"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CrewGroupType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="8" maxOccurs="8">
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
						<xsd:element name="airConsumer" type="AirConsumerType"/>
						<xsd:element name="foodConsumer" type="FoodConsumerType"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType"/>
						<xsd:element name="greyWaterProducer" type="GreyWaterProducerType"/>
						<xsd:element name="airProducer" type="AirProducerType"/>
						<xsd:element name="dryWasteProducer" type="DryWasteProducerType"/>
						<xsd:element name="crewPerson" type="CrewPersonType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="SimEnvironmentType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:attribute name="initialVolume" type="nonNegativeFloat" use="required"/>
				<xsd:attribute name="initialCO2Moles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialO2Moles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialOtherMoles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialWaterMoles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialNitrogenMoles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="leakRate" type="nonNegativeFloat" default="0"/>
				<xsd:attribute name="dayLength" type="nonNegativeFloat" default="24"/>
				<xsd:attribute name="hourOfDayStart" type="nonNegativeFloat" default="0"/>
				<xsd:attribute name="maxLumens" type="nonNegativeFloat" default="50000"/>
				<xsd:attribute name="airlockVolume" type="nonNegativeFloat" default="3.7"/>
				<xsd:attribute name="dangerousOxygenThreshold" type="percentageFloat" default="1.0"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DehumidifierType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="2">
						<xsd:element name="airConsumer" type="AirConsumerType"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="8" maxOccurs="8">
						<xsd:element name="shelf" type="ShelfType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
						<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType"/>
						<xsd:element name="airConsumer" type="AirConsumerType"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType"/>
						<xsd:element name="biomassProducer" type="BiomassProducerType"/>
						<xsd:element name="airProducer" type="AirProducerType"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="autoHarvestAndReplant" type="xsd:boolean" default="true"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodProcessorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="5" maxOccurs="5">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="biomassConsumer" type="BiomassConsumerType"/>
						<xsd:element name="foodProducer" type="FoodProducerType"/>
						<xsd:element name="dryWasteProducer" type="DryWasteProducerType"/>
						<xsd:element name="waterProducer" type="WaterProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerPSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="2">
						<xsd:element name="lightConsumer" type="LightConsumerType"/>
						<xsd:element name="powerProducer" type="PowerProducerType"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="generationType" type="GenerationType" default="NUCLEAR"/>
				<xsd:attribute name="upperPowerGeneration" type="nonNegativeFloat" default="500"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="4" maxOccurs="4">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType"/>
						<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType"/>
					</xsd:choice>
				</xsd:sequence>
				<!--<xsd:attribute name="operationMode" type="WaterRSOperationMode" default="FULL"/> !-->
				<xsd:attribute name="implementation" type="WaterRSImplementationType" default="NORMAL"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="EVAMissionType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="2">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="airConsumer" type="AirConsumerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="IncineratorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="4" maxOccurs="4">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="O2Consumer" type="O2ConsumerType"/>
						<xsd:element name="dryWasteConsumer" type="DryWasteConsumerType"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AccumulatorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="33">
						<xsd:element name="powerConsumer" type="PowerConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="powerProducer" type="PowerProducerType" minOccurs="0" maxOccurs="1"/>  
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterProducer" type="GreyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airConsumer" type="AirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airProducer" type="AirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Consumer" type="H2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Producer" type="H2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenConsumer" type="NitrogenConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenProducer" type="NitrogenProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenAirConsumer" type="NitrogenAirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenAirProducer" type="NitrogenAirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="waterAirConsumer" type="WaterAirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="waterAirProducer" type="WaterAirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2AirConsumer" type="O2AirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2AirProducer" type="O2AirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2AirConsumer" type="CO2AirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2AirProducer" type="CO2AirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Consumer" type="O2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Producer" type="O2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Consumer" type="CO2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="LightConsumer" type="LightConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassConsumer" type="BiomassConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassProducer" type="BiomassProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodConsumer" type="FoodConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodProducer" type="FoodProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteConsumer" type="DryWasteConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteProducer" type="DryWasteProducerType" minOccurs="0" maxOccurs="1"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InjectorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="33">
						<xsd:element name="powerConsumer" type="PowerConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="powerProducer" type="PowerProducerType" minOccurs="0" maxOccurs="1"/>  
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterProducer" type="GreyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airConsumer" type="AirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airProducer" type="AirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Consumer" type="H2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Producer" type="H2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenConsumer" type="NitrogenConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenProducer" type="NitrogenProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenAirConsumer" type="NitrogenAirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenAirProducer" type="NitrogenAirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="waterAirConsumer" type="WaterAirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="waterAirProducer" type="WaterAirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2AirConsumer" type="O2AirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2AirProducer" type="O2AirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2AirConsumer" type="CO2AirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2AirProducer" type="CO2AirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Consumer" type="O2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Producer" type="O2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Consumer" type="CO2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="LightConsumer" type="LightConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassConsumer" type="BiomassConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassProducer" type="BiomassProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodConsumer" type="FoodConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodProducer" type="FoodProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteConsumer" type="DryWasteConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteProducer" type="DryWasteProducerType" minOccurs="0" maxOccurs="1"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Sensor declarations -->
	
	<xsd:complexType name="SensorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:attribute name="input" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
				<xsd:attribute name="index" type="xsd:nonNegativeInteger" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ShelfSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
				<xsd:attribute name="shelfIndex" type="xsd:nonNegativeInteger" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Air sensor declarations -->
	<xsd:complexType name="CO2InFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2OutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2InFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2OutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="MethaneInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="MethaneOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="MethaneStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2InFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2OutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Crew sensor declarations -->
	<xsd:complexType name="CrewGroupDeathSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CrewGroupAnyDeadSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CrewGroupProductivitySensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Environment sensor declarations -->
	<xsd:complexType name="AirInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirEnvironmentInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirEnvironmentOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirStoreInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirStoreOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OtherAirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="OtherAirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirConcentrationSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirPressureSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirEnvironmentInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirEnvironmentOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirStoreInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirStoreOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food sensor declarations -->
	<xsd:complexType name="BiomassInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="HarvestSensorType">  
		<xsd:complexContent>
			<xsd:extension base="ShelfSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PlantDeathSensorType">  
		<xsd:complexContent>
			<xsd:extension base="ShelfSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassStoreWaterContentSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Framework sensor declarations -->
	<xsd:complexType name="StoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="StoreOverflowSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food sensor declarations -->
	<xsd:complexType name="PowerInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Water sensor declarations -->
	<xsd:complexType name="DirtyWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Waste sensor declarations -->
	<xsd:complexType name="DryWasteInFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DryWasteOutFlowRateSensorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateSensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DryWasteStoreLevelSensorType">  
		<xsd:complexContent>
			<xsd:extension base="SensorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Actuator declarations -->
	<xsd:complexType name="ActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:attribute name="output" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
				<xsd:attribute name="index" type="xsd:nonNegativeInteger" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ShelfActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ActuatorType">
				<xsd:attribute name="shelfIndex" type="xsd:nonNegativeInteger" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Air actuator declarations -->
	<xsd:complexType name="CO2InFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2OutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2InFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2OutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2InFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2OutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="MethaneInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="MethaneOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Environment actuator declarations -->
	<xsd:complexType name="AirInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AirOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirEnvironmentOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2AirStoreOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirEnvironmentOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2AirStoreOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirEnvironmentInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirEnvironmentOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirStoreInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenAirStoreOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirEnvironmentInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirEnvironmentOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirStoreInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterAirStoreOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Food actuator declarations -->
	<xsd:complexType name="BiomassInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PlantingActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ShelfActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="HarvestingActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="ShelfActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Power actuator declarations -->
	<xsd:complexType name="PowerInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Water actuator declarations -->
	<xsd:complexType name="DirtyWaterInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Waste actuator declarations -->
	<xsd:complexType name="DryWasteInFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DryWasteOutFlowRateActuatorType">  
		<xsd:complexContent>
			<xsd:extension base="FlowRateActuatorType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
</xsd:schema>

