trunk/BIOSIM/resources/com/traclabs/biosim/server/framework/schema/simulation/SimBioModule.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.traclabs.com/biosim" 
	targetNamespace="http://www.traclabs.com/biosim"
	elementFormDefault="qualified">
	
	<xsd:complexType name="AirSimBioModulesType">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="OGS" type="OGSType"/>
				<xsd:element name="CRS" type="CRSType"/>
				<xsd:element name="VCCR" type="VCCRType"/>
				<xsd:element name="O2Store" type="O2StoreType"/>
				<xsd:element name="CO2Store" type="CO2StoreType"/>
				<xsd:element name="H2Store" type="H2StoreType"/>
				<xsd:element name="NitrogenStore" type="NitrogenStoreType"/>
				<xsd:element name="MethaneStore" type="NitrogenStoreType"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SimBioModulesType">
		<xsd:all>
			<xsd:element name="air" type="AirSimBioModulesType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="crew" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="CrewGroup" type="CrewGroupType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="environment" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="SimEnvironment" type="SimEnvironmentType"/>
							<xsd:element name="Dehumidifier" type="DehumidifierType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="food" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="FoodProcessor" type="FoodProcessorType"/>
							<xsd:element name="BiomassPS" type="BiomassPSType"/>
							<xsd:element name="BiomassStore" type="BiomassStoreType"/>
							<xsd:element name="FoodStore" type="FoodStoreType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="power" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>	
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="PowerPS" type="PowerPSType"/>
							<xsd:element name="PowerStore" type="PowerStoreType"/>
							<xsd:element name="GenericPowerConsumer" type="GenericPowerConsumerType"/>
							<xsd:element name="RPCM" type="RPCMType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="water" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="WaterRS" type="WaterRSType"/>
							<xsd:element name="PotableWaterStore" type="PotableWaterStoreType"/>
							<xsd:element name="GreyWaterStore" type="GreyWaterStoreType"/>
							<xsd:element name="DirtyWaterStore" type="DirtyWaterStoreType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="waste" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="Incinerator" type="IncineratorType"/>
							<xsd:element name="DryWasteStore" type="DryWasteStoreType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="framework" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="Accumulator" type="AccumulatorType"/>
							<xsd:element name="Injector" type="InjectorType"/>
							<xsd:element name="InfluentValve" type="InfluentValveType"/>
							<xsd:element name="EffluentValve" type="EffluentValveType"/>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>     
	</xsd:complexType>
	
	<!-- Store declarations -->
	
	<xsd:complexType name="Store">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
					<xsd:attribute name="capacity" type="nonNegativeFloat" use="required"/>
					<xsd:attribute name="level" type="nonNegativeFloat" use="required"/>
					<xsd:attribute name="resupplyFrequency" type="xsd:nonNegativeInteger" default="0"/>
					<xsd:attribute name="resupplyAmount" type="nonNegativeFloat" default="0"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PotableWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DirtyWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="GreyWaterStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="O2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CO2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="H2StoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NitrogenStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="MethaneStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:attribute name="waterContent" type="nonNegativeFloat" default="5"/>
				<xsd:attribute name="cropType" type="CropType" default="WHEAT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
				<xsd:attribute name="inedibleFraction" type="percentageFloat" default="0.25"/>
				<xsd:attribute name="edibleWaterContent" type="nonNegativeFloat" default="5"/>
				<xsd:attribute name="inedibleWaterContent" type="nonNegativeFloat" default="5"/>
				<xsd:attribute name="cropType" type="CropType" default="WHEAT"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DryWasteStoreType">  
		<xsd:complexContent>
			<xsd:extension base="Store">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Special AirRS specific declarations -->
	<xsd:simpleType name="AirRSOperationMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FULL"/>
			<xsd:enumeration value="OFF"/>
			<xsd:enumeration value="LESS"/>
			<xsd:enumeration value="MOST"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special VCCR specific declarations -->
	<xsd:simpleType name="VCCRImplementationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DETAILED"/>
			<xsd:enumeration value="LINEAR"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special CrewGroup specific declarations -->
	<xsd:complexType name="ScheduleType">
		<xsd:sequence>
			<xsd:element name="activity" type="ActivityType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="EVAActivityType">  
		<xsd:complexContent>
			<xsd:extension base="ActivityType">
				<xsd:attribute name="evaCrewGroup" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ActivityType">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="length" type="xsd:nonNegativeInteger" use="required"/>
		<xsd:attribute name="intensity" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="CrewPersonType">
		<xsd:sequence>
			<xsd:element name="schedule" type="ScheduleType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="age" type="nonNegativeFloat" use="required"/>
		<xsd:attribute name="weight" type="nonNegativeFloat" use="required"/>
		<xsd:attribute name="sex" type="SexType" use="required"/>
		<xsd:attribute name="arrivalDate" type="xsd:nonNegativeInteger" default="0"/>
		<xsd:attribute name="departureDate" type="xsd:integer" default="-1"/>
		<xsd:attribute name="logLevel" type="LogLevelType" default="INFO"/>
	</xsd:complexType>
	
	<xsd:simpleType name="SexType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MALE"/>
			<xsd:enumeration value="FEMALE"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special BiomassPS specific declarations -->
	<xsd:complexType name="ShelfType">
		<xsd:attribute name="cropType" type="CropType" use="required"/>
		<xsd:attribute name="cropArea" type="nonNegativeFloat" use="required"/>
		<xsd:attribute name="startTick" type="xsd:nonNegativeInteger" default="0"/>
	</xsd:complexType>
	
	<xsd:simpleType name="CropType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DRY_BEAN"/>
			<xsd:enumeration value="LETTUCE"/>
			<xsd:enumeration value="PEANUT"/>
			<xsd:enumeration value="RICE"/>
			<xsd:enumeration value="SOYBEAN"/>
			<xsd:enumeration value="SWEET_POTATO"/>
			<xsd:enumeration value="TOMATO"/>
			<xsd:enumeration value="WHEAT"/>
			<xsd:enumeration value="WHITE_POTATO"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special PowerPS specific declarations -->
	<xsd:simpleType name="GenerationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SOLAR"/>
			<xsd:enumeration value="NUCLEAR"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Special WaterRS specific declarations -->
	<xsd:simpleType name="WaterRSImplementationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NORMAL"/>
			<xsd:enumeration value="LINEAR"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="WaterRSOperationMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FULL"/>
			<xsd:enumeration value="OFF"/>
			<xsd:enumeration value="GREY_WATER_ONLY"/>
			<xsd:enumeration value="PARTIAL"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- SimModule declarations -->
	
	<xsd:complexType name="OGSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="4" maxOccurs="4">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
						<xsd:element name="O2Producer" type="O2ProducerType"/>
						<xsd:element name="H2Producer" type="H2ProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="5" maxOccurs="5">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="CO2Consumer" type="CO2ConsumerType"/>
						<xsd:element name="H2Consumer" type="H2ConsumerType"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType"/>
						<xsd:element name="methaneWaterProducer" type="MethaneProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="VCCRType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="4" maxOccurs="4">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="airConsumer" type="AirConsumerType"/>
						<xsd:element name="airProducer" type="AirProducerType"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="implementation" type="VCCRImplementationType" default="LINEAR"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CrewGroupType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="8" maxOccurs="8">
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
						<xsd:element name="airConsumer" type="AirConsumerType"/>
						<xsd:element name="foodConsumer" type="FoodConsumerType"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType"/>
						<xsd:element name="greyWaterProducer" type="GreyWaterProducerType"/>
						<xsd:element name="airProducer" type="AirProducerType"/>
						<xsd:element name="dryWasteProducer" type="DryWasteProducerType"/>
						<xsd:element name="crewPerson" type="CrewPersonType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="SimEnvironmentType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:attribute name="initialVolume" type="nonNegativeFloat" use="required"/>
				<xsd:attribute name="initialCO2Moles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialO2Moles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialOtherMoles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialWaterMoles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="initialNitrogenMoles" type="nonNegativeFloat" use="optional"/>
				<xsd:attribute name="leakRate" type="nonNegativeFloat" default="0"/>
				<xsd:attribute name="dayLength" type="nonNegativeFloat" default="24"/>
				<xsd:attribute name="hourOfDayStart" type="nonNegativeFloat" default="0"/>
				<xsd:attribute name="maxLumens" type="nonNegativeFloat" default="50000"/>
				<xsd:attribute name="airlockVolume" type="nonNegativeFloat" default="3.7"/>
				<xsd:attribute name="dangerousOxygenThreshold" type="percentageFloat" default="1.0"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="DehumidifierType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="2">
						<xsd:element name="airConsumer" type="AirConsumerType"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="BiomassPSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="8" maxOccurs="8">
						<xsd:element name="shelf" type="ShelfType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType"/>
						<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType"/>
						<xsd:element name="airConsumer" type="AirConsumerType"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType"/>
						<xsd:element name="biomassProducer" type="BiomassProducerType"/>
						<xsd:element name="airProducer" type="AirProducerType"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="autoHarvestAndReplant" type="xsd:boolean" default="true"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="FoodProcessorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="5" maxOccurs="5">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="biomassConsumer" type="BiomassConsumerType"/>
						<xsd:element name="foodProducer" type="FoodProducerType"/>
						<xsd:element name="dryWasteProducer" type="DryWasteProducerType"/>
						<xsd:element name="waterProducer" type="WaterProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PowerPSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="1" maxOccurs="2">
						<xsd:element name="powerProducer" type="PowerProducerType"/>
						<xsd:choice minOccurs="0" maxOccurs="1">
							<xsd:element name="lightConsumer" type="LightConsumerType"/>
						</xsd:choice>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="generationType" type="GenerationType" default="NUCLEAR"/>
				<xsd:attribute name="upperPowerGeneration" type="nonNegativeFloat" default="500"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	<xsd:complexType name="GenericPowerConsumerType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="1" maxOccurs="1">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="powerRequired" type="nonNegativeFloat" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="RPCMType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="2">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="powerProducer" type="PowerProducerType"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="switchValues" type="switchList" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WaterRSType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="4" maxOccurs="4">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType"/>
						<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="implementation" type="WaterRSImplementationType" default="LINEAR"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="EVAMissionType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="2">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="airConsumer" type="AirConsumerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="IncineratorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="4" maxOccurs="4">
						<xsd:element name="powerConsumer" type="PowerConsumerType"/>
						<xsd:element name="O2Consumer" type="O2ConsumerType"/>
						<xsd:element name="dryWasteConsumer" type="DryWasteConsumerType"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AccumulatorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="25">
						<xsd:element name="powerConsumer" type="PowerConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="powerProducer" type="PowerProducerType" minOccurs="0" maxOccurs="1"/>  
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterProducer" type="GreyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airConsumer" type="AirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airProducer" type="AirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Consumer" type="H2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Producer" type="H2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenConsumer" type="NitrogenConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenProducer" type="NitrogenProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Consumer" type="O2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Producer" type="O2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Consumer" type="CO2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="LightConsumer" type="LightConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassConsumer" type="BiomassConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassProducer" type="BiomassProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodConsumer" type="FoodConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodProducer" type="FoodProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteConsumer" type="DryWasteConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteProducer" type="DryWasteProducerType" minOccurs="0" maxOccurs="1"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InjectorType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="25">
						<xsd:element name="powerConsumer" type="PowerConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="powerProducer" type="PowerProducerType" minOccurs="0" maxOccurs="1"/>  
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterProducer" type="GreyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airConsumer" type="AirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airProducer" type="AirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Consumer" type="H2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Producer" type="H2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenConsumer" type="NitrogenConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenProducer" type="NitrogenProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Consumer" type="O2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Producer" type="O2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Consumer" type="CO2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="LightConsumer" type="LightConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassConsumer" type="BiomassConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassProducer" type="BiomassProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodConsumer" type="FoodConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodProducer" type="FoodProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteConsumer" type="DryWasteConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteProducer" type="DryWasteProducerType" minOccurs="0" maxOccurs="1"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="InfluentValveType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="25">
						<xsd:element name="powerConsumer" type="PowerConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="powerProducer" type="PowerProducerType" minOccurs="0" maxOccurs="1"/>  
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterProducer" type="GreyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airConsumer" type="AirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airProducer" type="AirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Consumer" type="H2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Producer" type="H2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenConsumer" type="NitrogenConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenProducer" type="NitrogenProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Consumer" type="O2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Producer" type="O2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Consumer" type="CO2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="LightConsumer" type="LightConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassConsumer" type="BiomassConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassProducer" type="BiomassProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodConsumer" type="FoodConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodProducer" type="FoodProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteConsumer" type="DryWasteConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteProducer" type="DryWasteProducerType" minOccurs="0" maxOccurs="1"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="EffluentValveType">  
		<xsd:complexContent>
			<xsd:extension base="BioModuleType">
				<xsd:sequence>
					<xsd:choice minOccurs="2" maxOccurs="25">
						<xsd:element name="powerConsumer" type="PowerConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="powerProducer" type="PowerProducerType" minOccurs="0" maxOccurs="1"/>  
						<xsd:element name="potableWaterConsumer" type="PotableWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="potableWaterProducer" type="PotableWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterConsumer" type="GreyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="greyWaterProducer" type="GreyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterConsumer" type="DirtyWaterConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dirtyWaterProducer" type="DirtyWaterProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airConsumer" type="AirConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="airProducer" type="AirProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Consumer" type="H2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="H2Producer" type="H2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenConsumer" type="NitrogenConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="nitrogenProducer" type="NitrogenProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Consumer" type="O2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="O2Producer" type="O2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Consumer" type="CO2ConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="CO2Producer" type="CO2ProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="LightConsumer" type="LightConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassConsumer" type="BiomassConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="biomassProducer" type="BiomassProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodConsumer" type="FoodConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foodProducer" type="FoodProducerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteConsumer" type="DryWasteConsumerType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="dryWasteProducer" type="DryWasteProducerType" minOccurs="0" maxOccurs="1"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
</xsd:schema>